
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>
    This is a website where players can enter their username and see their World of Tanks statistics. Such as: <ul>
        <li>Average damage per game</li>
        <li>Overall rating</li>
        <li>Average xp per game</li>
    </ul>
    They can also see their most played in tanks and how many epic medals they have achieved.
</p>

<p>This website uses Wargaming's world of tanks api to get its data. <a href="https://developers.wargaming.net/reference/all/wot/account/list" target="_blank">Click here to see api documentation</a></p>

