
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#MedalsAchieved {
    margin: auto;
    width: 50%;
    font-size: 17px;
}

/* Overlay*/
#Overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
    z-index: 3;
}

#OverlayText {
    font-size: 30px;
    color: #fff;
    margin: auto;
    width: 50%;
    padding-top: 400px;
}

.padColumnSmall {
    padding: 3px;
}

.padTop10 {
    padding-top: 10px;
}

.hidden {
    display: none;
}

.ellipsis {
    text-overflow: ellipsis;
}

.tankStatsImg {
    max-width: 100%;
}