<div class="row">
    <div class="col-md-2">
        <img class="" src="~/Images/Tog.png" title="Tog 2" alt="Small picture of a Tog 2 tank" />
    </div>
    <div class="col-md-2">
        <img class="" src="~/Images/CenturionSevenOne.png" title="Centurion 7/1" alt="Small picture of a Centurion 7/1 tank" />
    </div>
    <div class="col-md-2">
        <img class="" src="~/Images/Is7.png" title="IS7" alt="Small picture of an IS7 tank" />
    </div>
    <div class="col-md-2">
        <img class="" src="~/Images/M48Patton.png" title="M48 Patton" alt="Small picture of an M48 patton tank" />
    </div>
    <div class="col-md-2">
        <img class="" src="~/Images/T57Heavy.png" title="T57 heavy" alt="Small picture of a T57 heavy tank" />
    </div>
</div>

<div class="col-md-6">
    <h1 class="display-4">Welcome to TankStats</h1>
    <p>Find out your World of Tanks statistics below by entering your username. </p>

    <form class="" onsubmit="return false; searchPlayer()" method="post">
        <div class="form-group">
            <label class="col-md-2 control-label">Server</label>
            <div class="col-md-8">
                <select id="Server" class="form-control">
                    <option value="EU">EU</option>
                    <option value="RU">RU</option>
                    <option value="NA">NA</option>
                    <option value="SA">SA</option>
                </select>
            </div>
        </div>

        <div class="input-group">
            <input type="text" id="Username" name="Username" class="form-control" placeholder="Enter your username" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" onclick="searchPlayer()"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>

<!-- Placeholders for js generated HTML-->
<div id="UserStats"></div>
<div id="UserTanks"></div>
<div id="UserMedals"></div>
<div class="padTop10 hidden alert alert-warning" id="ApiErrors"></div>
